
@{
    ViewBag.Title = "Admin Panel - Index";
}

<h2>@ViewBag.Title</h2>
<div>
    <h3>
        @Html.ActionLink("Users", String.Empty, "Users")
    </h3>
</div>
<div>
    <h3>
        @Html.ActionLink("Songs", "All", "Songs")
    </h3>
</div>
<div>
    <h3>
        @Html.ActionLink("Genres", String.Empty, "Genres")
    </h3>
</div>
